@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.wappers {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.conteiner {
  max-width: 1500px;
  margin: 0px auto;
  padding: 0 10px; }

.header {
  height: 147px;
  background-color: #b26776;
  text-align: center; }

.portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.portfolio__link {
  border: 1px solid #000;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 60%;
  margin: 50px 0 50px 30%;
  padding: 10px 0px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  font-style: italic; }

.portfolio__link:link {
  color: #fff;
  text-shadow: 2px 2px 1px #f70f0f, -2px -2px 1px #f70f0f, 2px -2px 1px #f70f0f, -2px 2px 1px #f70f0f; }

.portfolio__link:active {
  color: #fff;
  font-size: 35px;
  text-shadow: 2px 2px 3px #000, -2px -2px 3px #000, 2px -2px 3px #000, -2px 2px 3px #000;
  -webkit-transition-duration: 0.5c;
  -o-transition-duration: 0.5c;
  transition-duration: 0.5c; }

.portfolio__link:visited {
  color: #fff;
  text-shadow: 2px 2px 1px #f70f0f, -2px -2px 1px #f70f0f, 2px -2px 1px #f70f0f, -2px 2px 1px #f70f0f; }

.portfolio__link:hover {
  color: #fff;
  text-shadow: 2px 2px 1px #f70f0f, -2px -2px 1px #f70f0f, 2px -2px 1px #f70f0f, -2px 2px 1px #f70f0f;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.portfolio__contact {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 550px;
  flex: 0 1 550px;
  padding: 17px 15px 0 0;
  text-align: right;
  color: #fff;
  font-size: 18px; }
  .portfolio__contact li {
    margin: 11px 0 0 0; }

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  background-color: #bf9ea5; }
  .main__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 35px 0px; }
  .main__items {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 120px 95px 0px 15px;
    font-size: 30px;
    text-align: left;
    color: #fe5867;
    font-weight: 700;
    line-height: 1.2em; }
    .main__items ul li {
      background: url(../img/icon/icon.gif) 0 0 no-repeat;
      padding-left: 30px; }
  .main__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 580px;
    flex: 0 1 580px;
    border: 1px solid #000; }

.main__row:last-child {
  padding: 35px 0px; }

.image__row {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 1125px;
  flex: 0 1 1125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.image__column {
  -ms-flex-item-align: start;
  align-self: flex-start; }
  .image__column img {
    margin: 45px 0 0 73px;
    border-radius: 5px; }

.port__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 300px;
  height: 200px;
  -webkit-perspective: 350px;
  perspective: 350px; }

.port__column:last-child {
  margin-right: -35px; }

.port__column a img {
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  border-radius: 5px;
  -webkit-transform: rotateY(20deg);
  transform: rotateY(20deg);
  -webkit-transition-property: border-radius, border, -webkit-transform;
  transition-property: border-radius, border, -webkit-transform;
  -o-transition-property: transform, border-radius, border;
  transition-property: transform, border-radius, border;
  transition-property: transform, border-radius, border, -webkit-transform;
  -webkit-transition-duration: 1s, 1.2s, 5s;
  -o-transition-duration: 1s, 1.2s, 5s;
  transition-duration: 1s, 1.2s, 5s; }
  .port__column a img:hover {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    border-radius: 10px;
    border: 0; }
  .port__column a img:active {
    -webkit-transform: translate(-5px, -5px);
    -ms-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px); }

.footer {
  background-color: #f6ced6; }
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 65px; }
  .footer__body {
    color: #fff;
    letter-spacing: 1px;
    text-align: center; }
  .footer__title {
    text-transform: uppercase; }
  .footer__contact {
    padding: 5px 0 0 0; }
    .footer__contact p {
      display: inline-block;
      margin: 5px 10px 5px 0; }
